/* navbar.css */

.navbar {
  background-color: #3498db;
  overflow: hidden;
  display: flex;
  align-items: flex-start; /* Align links to the top */
  width: 100vw; /* Take up 100% of the viewport width */

  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

.navbar a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #2980b9;
}

/* Add additional styles as needed for active links or other customizations */
